body{
    background-color: rgb(15, 14, 14);
    color:white;
}
.container{
    width: 100%;
    height: 100vh;
    background-image: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0.7)),url('photos/marvel2.jpg');
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    
    position: relative;
    padding: 1px 1px;
}
.header button{
    color: #fff;
}
nav{
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
}
.logo{
    width: 150px;
    cursor: pointer;
    
}
.logo a{
    font-family:Arial, Helvetica, sans-serif;
    color: #fa0303;
    text-decoration: none;
    font-size: 4rem;
}
nav button{
    border: 0;
    outline: none;
    padding: 10px 10px;
    font-size: 18px;
    background: #fa0303;
    border-radius: 6px;
    margin-left: 5px;
}
button{
    background-color: #777;
}
#selectoption{
    
    border-radius: 6px;
    border: 0;
    outline: none;
    padding: 10px 10px;
    padding-right: 20px;
    font-size: 18px;
}
.headercontent{
    position: absolute;
    top: 50%;
    left: 50%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    transform: translate(-50%,-50%);

    text-align: center;
    margin-top: 100px;
    color: white;
    align-items: center;
    justify-content: center;
}
.headercontent h1{
    font-size: 60px;
    line-height: 70px;
    font-weight: 600;
}
.headercontent h3{
    font-weight:bold;
    font-size: 25px;
    margin-bottom: 30px;

}
.email-signup{
    background: #fff;
    border-radius: 4px;
    display: flex;
    align-items: center;
    margin-top: 30px;
    overflow: hidden;
}
.email-signup input{
    flex: 1;
    border: 0;
    outline: 0;
    margin-top: 20px;


}
.email-signup button{
    background: #fa0303;
    border: 0;
    outline: 0;
    color: #fff;
    font-size: 16px;
    padding: 10px;
    border-radius: 2px;
    margin-top: 15px 30px;
    cursor: pointer;
}
.features{
    padding: 70px 12px;
    font-size: 20px;
}
.features h2{
    font-size: 50px;
    margin-bottom: 30px;
}
.row{
    display: flex;
    flex-wrap: wrap;
    width: 100%;
    align-items: center;
    padding: 50px 0;

}
.text-col{
    flex-basis: 50%;
    margin-bottom: 20px;

}
.img{
    flex-basis: 50%;
    margin-bottom: 20px;
}
.img img{
    display: block;
    width: 80%;
    margin: auto;

}
.questions{
    padding: 10px 12px;
    font-size: 20px;
    text-align: center;
    border-top: 7px solid #333;
}
.quesans{
    margin: 60px auto;
    width: 100%;
    max-width: 750px;
}
.quesans li{
    list-style:none;
    width: 100%;
    padding: 5px;
}
.quesans li label{
    display: flex;
    align-items: center;
    padding: 20px;
    font-size: 20px;
    background: rgb(32, 30, 30);
    cursor: pointer;
    position: relative;
    border: #fff;
}
label::after{
    content: '+';
    font-size: 25px; 
    position: absolute;
    right:20px;
    transition: transform 0.5s;
    
}
input[type="radio"]{
    display: none;
}
.quesans .answer{
    background: #303030;
    text-align: left;
    padding: 0 20px;
    max-height: 0;
    overflow: hidden;
}
.quesans input[type="radio"]:checked +label+.answer{
    max-height: 600px;
    padding: 30px 20px;
}
.quesans input[type="radio"]:checked +label::after{
    transform: rotate(135deg);
}
.questions .email-signup{
    max-width: 600px;
    margin: 20px auto 60px;

} 
.footer{
    padding: 50px 15px 10px;
    border-top: 7px solid #333;
    color: #777;
}
.footer h2{
    font-size: 25px;
    margin-bottom: 20px;
    font-weight: 400px ;
}
.footer .col{
    flex-basis: 25%;
    flex-grow: 1;
    margin-bottom: 20px;

}.footer .col a{
    display: block;
    color: #fff;
    line-height: 30px;
}
.footer .btn{
    
    color: #fff;
}
#first{
    padding: 50px 15px 10px;
    border-top: 7px solid #333;
    color: #777;
}
.row{
    border-top: 7px solid #333;
}
@media only screen and (max-width:600px) {
    nav{
        display: flex;
        flex-direction: row;
    }
    .logo{
        width: 100%;
        margin-top: 20px;
        
}
.logo a{
    font-size: 30px;
}
#selectoption{
    padding: 4px 7px;
    margin-bottom: 10px;
    }

nav button{
    padding: 4px 8px;
    display: block;
}
.headercontent {
    transform: none;
    line-height: 30px;
    position: unset;
}
.headercontent h1{
    line-height: 30px;
    font-size: 30px;
}
.headercontent h3{
    font-size: 20px;
}
.email-signup{
    font-size: 15px;
    margin-left: 20px;
    margin-right: 20px;
}
.text-col,.img{
    flex-basis: 100%;
}
.features h2{
    font-size: 30px;
}
.features p{
    font-size: 15px;
}
.features .row:nth-child(2),.row:nth-child(4){
    flex-direction: column-reverse;
}
.features .row{
    padding: 10px 0;
}
.questions h2{
    font-size:20px;
}
.quesans{
    padding: 0%;
}
.quesans .answer{
    font-size: 16px;
}
.quesans li label{
    padding: 10px;
    font-size: 16px;
}
label::after{
    font-size: 15px;
}
.footer{
    align-items: center;
    flex-direction: column;
    flex-basis: content;
}
}
.footer .col{
    display: block;
    padding-left: 25px;
}